<div class="col-sm-12">
                <h2>צרו קשר</h2>
                <address>
                    <h4><abbr title="Phone">משרד:</abbr> 050-2148008</h4>
                    <br>
                    <h4><abbr title="Phone">פלאפון:</abbr> 050-2148048</h4>
                    <br>
                    <h4><abbr title="Phone">פקס:</abbr> 0777-648148 </h4>
                    <br>
                    <h4><abbr title="Email">email:</abbr> <a href="mailto:rnselc@gmail.com">rnselc@gmail.com</a></h4>
                   

                </address>
            </div>