<body>


<h1 style="30 px">חשמל ומיזוג אויר</h1>

 

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">

            <div class="col-sm-4">
                <h2>צרו קשר</h2>
                <address>
                    <p><abbr title="Phone">משרד:</abbr> 050-2148008</p>
                    <br>
                    <p><abbr title="Phone">פלאפון:</abbr> 050-2148048</p>
                    <br>
                    <p><abbr title="Phone">פקס:</abbr> 0777-648148 </p>
                    <br>
                    <p><abbr title="Email">email:</abbr> <a href="mailto:rnselc@gmail.com">rnselc@gmail.com</a></p>
                   

                </address>
            </div>

            <div class="col-sm-8">
                <h2>מה אנחנו עושים</h2>
                <p>ביצוע עבודות חשמל ומיזוג אויר לעסקים, מוסדות, ופרטיים.</p>
                <p>ביצוע עבודות חשמל ותאורה למבנים חדשים ובשיפוץ.</p>
                <p>הגדלות חיבור ח"ח ,תיקון תקלות חשמל.</p>
                <p>בדיקה ואחזקה שוטפת למערכת חשמל.</p>
                <p>מכירה והתקנת מזגנים, הכנת תשתית מיזוג אויר למבנים חדשים ובשיפוץ.</p>
                <p>תיקון תקלות ,בדיקה ואחזקה שוטפת למערכות מיזוג.</p>
                <p>
                    <%= link_to 'גלריית תמונות', home_gallery_path, class: "btn btn-default btn-lg" %>

                </p>
            </div>
            
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <%= image_tag('index1.jpg', class: "img-circle img-responsive img-center") %>
                
            </div>
            <div class="col-sm-4">
                <%= image_tag('index2.jpg', class: "img-circle img-responsive img-center") %>
                
            </div>
            <div class="col-sm-4">
                <%= image_tag('index3.jpg', class: "img-circle img-responsive img-center") %>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>