// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   text-align: center;
   background:#BFAFB2 !important;


   h1 {
        font-family: "Times New Roman", Georgia, Serif;

   }

   h2 {
     font-family: "Times New Roman", Georgia, Serif;
   }

   p {
     font-family: Verdana;
   }
	
}	


		